body {
    background-image: url(https://i.postimg.cc/L5LyPcqN/pexels-neale-lasalle-631477.jpg); 
    background-size: cover;
    background-position: center center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

div, h1, h2, p {
    margin: 0;
    padding: 0;
    color: #F2E96B;
}

.poem {
    margin: auto;
    padding: 20px;
    text-align: left;
    width: 400px;
}

h1, h2 {
    font-weight: 600;
    text-align: center;
    line-height: 0.7;
}

h1 {
    margin: 40px 0 20px 0;
    font-size: 54px;
}

h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

p {
    margin-bottom: 16px;
    line-height: 1.5;
}
