body {
    font-family: 'Montserrat', sans-serif;
    background: #F2E9EB;
    color: #2E2C2C;
    line-height: 1.7;
    font-size: 17px;
    font-weight: 400;   
}

.splash {
    line-height: 0.6;
    display: flex;
    justify-content: center;
    
}

h1 {
    font-size: 46px;
    margin: 48px 0 0 0;
    color: #D979A6;
}

h2 {
    font-size: 32px;
    color: #15AEBF;
}


