body {
    background-image: url(https://i.postimg.cc/L5LyPcqN/pexels-neale-lasalle-631477.jpg); 
    background-size: cover;
    background-position: center center;
    font-family: 'Montserrat', sans-serif;
}